<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title if ="${userInfo？.username}" th:text="'IOIOIOIOIO ›'+ ${userInfo.username}"></title>
    <title if ="${errorInfo}" >会员未找到</title>
</head>
<body>
<!-- 引入header文件 -->
<div th:include="header"></div>
<div style="width: 70%;margin:1% 2% 1% 5%;float: left;">
    <div class="panel panel-default" id="main" style="">
        <div class="panel-heading" style="background-color: white">
            <a href="/" th:text="'›'+ ${userInfo.username}">IOIOIOIOIO</a>
        </div>

        <div class="panel-body">
            <form th:if="${userInfo}" class="form-horizontal" role="form">
                <div style="margin-left: 17%">
                    <img width="60px" height="60px" th:src="${userInfo.avatar}" class="img-rounded">
                </div><br/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">uid</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${userInfo.id}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${userInfo.username}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${userInfo.email}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">注册时间</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${userInfo.localCreateTime}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">积分</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${userInfo.credit}"></p>
                    </div>
                </div>
            </form>
            <span th:if ="${errorInfo}">会员未找到!</span>
        </div>
    </div>
</div>

<!-- 引入侧边栏文件 -->
<div th:include="side"></div>
<!-- 引入footer文件 -->
<div th:include="footer"></div>

</body>
</html>